.App {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 15vh;
  /* TODO: some a these are kinda needed dude lol*/
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding-top: 5vh; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-navbar {
  z-index: 99;
  color: black;
  background-color: white;
  height: 7vh;
  width: 100vw;
  position: fixed;
  padding-left: 5vw;
  padding-top: 0.5vh;
}

.my-navbar-link {
  color: black;
  font-weight: bold;
}

.my-navbar-link:hover {
  color: black;
  text-decoration: none;
}

.margin-content {
  padding: 0 5vw 0 5vw;
}

.center-navbar {
  width: 20vw;
  /* justify-content: center;
  align-items: center; */
}

.body {
  background-color: #282c34;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* padding-top: 5vh; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.li, .ul, .data-credit {
  margin: 0;
  padding: 0;
}

.nobull {
  margin-left: -40px;
  list-style-type: none;
}

.press-releases-div {
  align-items: left;
  justify-content: left;
}

select {
  font-size: 16px;
}

.custom-tooltip {
  background-color: rgba(200, 200, 200, 0.3);;
  border: 2px solid rgb(210, 210, 210);
  padding: 0 15px 0 15px;
}

.label {
  margin: 5px;
  font-weight: bolder;
  font-size: 22px;
}

.intro, .category-stats {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */

.bm-burger-button {
  z-index: 999;
  position: fixed; 
  width: 30px;
  height: 24px;
  right: 12px;
  top: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  font-weight: bold;
  float: right;
}

@media (max-width: 700px) {
  .bm-menu {
    width: 35%;
  }

  .bm-burger-button {
    width: 30px;
    height: 24px;
  }
}

@media (min-width: 700px) {
  .bm-menu {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .bm-menu {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .bm-menu {
    width: 20%;
  }
}

.bm-menu-wrap {
 position: 'fixed';
 height: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f2f2f2;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

button:focus {
  outline:0;
}

div, .menu-item {
  outline: none;
}

.slide {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}

.slide-home {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.my-button {
  margin: 5px;
}
